{% extends '_base.html' %}
{% block title %}Edit Details for {{pet.name}}{% endblock %}

{% block body %}
<h1 class="page-title">EDIT: {{pet.name}}</h1>
{% if pet.photo_url %}<img src="{{pet.photo_url}}">{%endif%}

<form id="pet-edit-form" method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field }}
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Edit</button> <a href="/{{pet.id}}" class="btn btn-danger">Cancel</a>
</form>


{%for msg in get_flashed_messages()%}
{{msg}}
{%endfor%}
{% endblock %}